h1{
    text-align: center;
}

h2{
    font-size: 30px;
}

#feature_image_edit{
    width: 60%;
    vertical-align: middle;
    border-color: black;
    border-style: solid;
}
div.weather_text{
    position: relative;
    top: -690px;
    right: -1230px;
    width: 25%;
}

div.mars_facts{
    position: relative;
    right: -1230px;
    top:-690px;
    display: block;
}

div.hemisphere_images{
    position: relative;
    top:-400px;
}

#images{
    width:70%;
    margin-bottom: 25px;
}

div.latest_article{
    width:65%;
}